<!doctype html>
<html lang="{{ site.language }}">
<head>
    {% block head %}
    {% include 'base/helpers/head.twig' %}
    {% endblock %}
    {{ fn('wp_head') }}
</head>
<body {{ fn('body_class') }}>
<main id="wine-app">
    {% block header %}
    {% include 'base/helpers/header.twig' %}
    {% endblock %}

    {% block content %}{{ post.content }}{% endblock %}

    {% block footer %}
    {% include 'base/helpers/footer.twig' %}
    {% endblock footer %}
</main>

{{ fn('wp_footer') }}

<link rel="stylesheet" type="text/css" href="{{ theme.link }}/dist/styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Lato:200,400,600&display=swap" rel="stylesheet">
</body>
</html>
