{% set _headerBackground = post.thumbnail %}

<header
        data-title="{{ post.meta('title') }}"
        data-subtitle="{{ post.meta('subtitle') }}"
        title="{{ post.meta('title') }}"
        class="homepage-header{{ fn('wp_is_mobile')? 'mobile': '' }}"

        style="background-image: url({{ _headerBackground }})"
>
    <div class="container mx-auto">

        <h1 class="title">{{ post.meta('title') }}</h1>
        <h3 class="subtitle">{{ post.meta('subtitle') }}</h3>
        <homepage-filter title="Ik ben op zoek naar:"></homepage-filter>
    </div>



    <aside
            role="complementary"
            class="usp-banner"
    ></aside>
</header>
