<section
        role="banner"
        data-role="header-top-bar"
        data-store="{{ fn('get_current_blog_id') }}"
        class="bg-primary header-topper"
        id="header_hero_{{ post.ID }}"
>
    <div class="container mx-auto flex">
        <nav role="navigation">
            {% if sites %}
                <button class="text-white inline-flex items-center js-open-sites">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x text-white"></i>
                        <i class="fas fa-store fa-stack-1x fa-flip-horizontal text-primary"></i>
                    </span> <span class="header-line"> Onze winkels</span>
                </button>
                <div class="sites-wrapper">
                    <ul class="sites">
                        {% for site in sites %}
                            <li class="sites-list-item">
                                <a href="https://{{ site.domain }}" class="sites-item">{{ site.domain }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </nav>

        <div class="ml-auto">
            <a href="tel:{{ theme.theme_mod('phone') }}" class="text-white inline-flex items-center">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x text-white"></i>
                    <i class="fas fa-phone fa-stack-1x fa-flip-horizontal text-primary"></i>
                </span> <span class="header-line">{{ theme.theme_mod('phone') }}</span>
            </a>

            <a href="#" class="text-white inline-flex items-center">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x text-white"></i>
                    <i class="fas fa-user fa-stack-1x fa-flip-horizontal text-primary"></i>
                </span> <span class="header-line">{{ __('Mijn Account') }}</span></a>

            <a href="#" class="text-white inline-flex items-center">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x text-white"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-flip-horizontal text-primary"></i>
                </span>
            </a>
        </div>
    </div>

</section>
