{% include 'base/helpers/partials/header-banner.twig' %}
<nav
    class="header container mx-auto"
    role="navigation"
    aria-roledescription="Navigeer door de site"
>

    {% include 'partials/logo-default.twig' %}

    <ul class="menubar" role="menubar">
        {% for item in primaryMenu.items %}
            <li role="menuitem" class="menuitem">
                <a href="{{ item.link }}" title="{{ item.title }}" target="_self">
                    {{ item.title }}
                </a>

                {% if item.children %}
                <div class="submenu">
                    <ul role="menu">
                        {% for child in item.children %}
                            <li role="menuitem" class="submenu-item">
                                <a
                                    href="{{ child.link }}"
                                    title="{{ child.title }}"
                                    target="_self"
                                >
                                    {{ child.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <search-component></search-component>
</nav>
